<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.target">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="36" />

    <application
        android:name="com.demo.target.MainApplication"
        android:allowBackup="true"
        android:label="AJM-Lab-Original">

        <activity
            android:name="com.demo.target.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
